<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FAS | VA Financial Accounting Services</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        
        <link rel="icon" type="image/x-icon" th:href="@{/static/images/VA_Seal_32.png}"/>
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Ubuntu}"/>
        <link rel="stylesheet" th:href="@{/static/vendor/dojo/dijit/themes/claro/claro.css}"/>
        <link rel="stylesheet" th:href="@{/static/css/app.css}"/>
    </head>
    <body class="claro">
        <div id="appLayout"></div>
        
        <script th:src="@{/static/js/config/config.js}"></script>
        <script th:src="@{/static/vendor/dojo/dojo/dojo.js}"></script>
        <script th:src="@{/static/js/layout/fasLayout.js}"></script>
    </body>
</html>
