html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/vabkg.jpg");
    background-color: #cccccc;
}

#appLayout, #tabContentPanel {
    height: 100%;
    width: 100%;
}

/* *********** Header and Footer Panels ********* */
#headerContainer{
    height: 9rem;
    background: #003F72;
}

#leftHeaderSection, rightHeaderSection {
    text-align: center;
}

#leftHeaderSection {
    width: 9rem;
}

#centerHeaderSection {
    color: white;
}

#rightHeaderSection {
    width: 18rem;
}

#footerPane {
    height: 2.6rem;
    background: #003F72;
}

#fileSearchSection {
    text-align: center;
    height: 2.5rem;
    width: 22.5rem;
    background: whitesmoke;
    border-radius: 3px;
}

.vaSeal {
    display: inline-block;
    height: 128px;
    width: 128px;
    padding-right: 7px;
    vertical-align: middle;
}

.headerDivider {
    border-left: 1px solid white;
    vertical-align: middle;
    height: 112px;
    display:inline-block;
}

.title {
    cursor: default;
    -webkit-margin-before: .60em;
    -webkit-margin-after: .60em;
}

.userDetails {
    text-align: center;
    vertical-align: middle;
}

.footerContent {
    cursor: default;
    text-align: center;
    display: table;
    margin: 0 auto;
    font-size: x-small;
    color: white;
}

.fileSearchBox {
    border-width: 3px;
    padding: 6px;
    margin-right: 5px;
}

.dijitButton {
    font-size: small;
    font-style: italic;
    color: #003F72;
}

/* ************ Content Panels *********** */
#navContainer {
    height: 3.1rem;
}

#navPane {
    text-align: center;
    height: 2.5rem;
    width: 15.5rem;
    background: white;
    border-radius: 5px;
    border-style: solid;
    border-color: #003F72;
    border-width: 1px;
}

#centerContentPane {
    background: white;
    border-radius: 5px;
}

#fasNavBtn {
    font-size: small;
    width: 12rem;
}

#reportsTabContainer {
    background: white;
    padding: 10px;
    font-size: small;
}

.navMenu {
    font-size: small;
}

.portletContainerActive {
    border-style: solid !important;
    border-radius: 5px !important;
    border-width: 1px !important;
    border-color: #003F72 !important;
    background: white !important;
}

.portlet {
    background-image: url("../images/vabkg.jpg");
    background-color: #cccccc;
}
